<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add Activity</title>
        <link rel="stylesheet" href="/stylesheets/addactivity.css">
    </head>
    <body>
            <main>
              <nav class="main-menu">
                <h1>Fitness App</h1>
                <img class="logo" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4cfdcb5a-0137-4457-8be1-6e7bd1f29ebb" alt="" />
                <ul>
                  <li class="nav-item ">
                    <b></b>
                    <b></b>
                    <a href="/dashboard">
                      <i class="fa fa-house nav-icon"></i>
                      <span class="nav-text">Home</span>
                    </a>
                  </li>
        
                  <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="/profile">
                      <i class="fa fa-user nav-icon"></i>
                      <span class="nav-text">Profile</span>
                    </a>
                  </li>
        
                  <li class="nav-item active">
                    <b></b>
                    <b></b>
                    <a href="/plusActivity">
                      <i class="fa fa-calendar-check nav-icon"></i>
                      <span class="nav-text">+Activity</span>
                    </a>
                  </li>
        
                  <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="/addPost">
                      <i class="fa fa-person-running nav-icon"></i>
                      <span class="nav-text">Add Post</span>
                    </a>
                  </li>
        
                  <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="#">
                      <i class="fa fa-sliders nav-icon"></i>
                      <span class="nav-text">Settings</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="mainpt2">
                <div class="subpt1">
                  <div class="sp1banner">
                    <h1>Add Activity</h1>
                  </div>

                  <div class="form1">
                    <form action="/addActivityxx" method="post">
                      <select class="inp" name="dplist" placeholder="Select Activity">
                        <option class="dplis" value="Hiking">Hiking</option>
                        <option class="dplis" value="Swimming">Swimming</option>
                        <option class="dplis" value="Running">Running</option>
                        <option class="dplis"value="Trekking">Trekking</option>
                        <option class="dplis" value="Tennis">Tennis</option>
                        <option class="dplis"value="Yoga">Yoga</option>
                      </select>
                      <input class="inp" type="text" name="Distance" placeholder="Distance Travelled">
                      <input class="inp" type="text" name="Duration" placeholder="Duration">
                      <input class="inp" type="text" name="Climbing" placeholder="Height Climbed">
                      <input class="inp" type="text" name="Steps" placeholder="Steps Taken">
                      <input class="inp" type="text" name="Image" placeholder="Image">
                      <input class="inp" type="text" name="Caption" placeholder="Caption">
                      <button class="inpbtn" type="submit">Submit</button>


                    </form>
                  </div>
                  


                </div>

                <div class="subpt2">
                  <div class="subpt2im">
                    <img class="sideimg" src="https://images.unsplash.com/photo-1551632811-561732d1e306?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aGlraW5nfGVufDB8fDB8fHww">
                  </div>
                  <div class="subpt2im">
                    <img class="sideimg" src="https://ik.imagekit.io/mayamaya/wp-content/uploads/2023/05/SOL_5888edit-2-1024x793.jpg">
                  </div>
                  <div class="subpt2im">
                    <img class="sideimg" src="https://media.istockphoto.com/id/513230376/photo/couple-kayaking-in-the-lake-on-a-sunny-day.webp?b=1&s=170667a&w=0&k=20&c=u3dNgaqhsnSKaqdWw4HRI7nU1mcvHBhiMS7yr2fzIC8=">
                  </div>
                  <div class="subpt2im">
                <img class="sideimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXCzxeDXXfehELb32Js68E-YtyWkcSIPtGcg&usqp=CAU">
                    
                  </div>
                <div class="subpt2im">
                <img class="sideimg" src="https://thumbs.dreamstime.com/b/success-adventure-reconnaissance-climbing-102503745.jpg">
                    
                </div>

                </div>
              </div>
            </main>
    </body>
</html>
