<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="stylesheet" href="/stylesheets/profile.css">
    </head>
    <body>
            <main>
              <nav class="main-menu">
                <h1>Fitness App</h1>
                <img class="logo" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4cfdcb5a-0137-4457-8be1-6e7bd1f29ebb" alt="" />
                <ul>
                  <li class="nav-item ">
                    <b></b>
                    <b></b>
                    <a href="/dashboard">
                      <i class="fa fa-house nav-icon"></i>
                      <span class="nav-text">Home</span>
                    </a>
                  </li>
        
                  <li class="nav-item active">
                    <b></b>
                    <b></b>
                    <a href="#">
                      <i class="fa fa-user nav-icon"></i>
                      <span class="nav-text">Profile</span>
                    </a>
                  </li>
        
                  <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="/plusActivity">
                      <i class="fa fa-calendar-check nav-icon"></i>
                      <span class="nav-text">+Activity</span>
                    </a>
                  </li>
        
                  <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="#">
                      <i class="fa fa-person-running nav-icon"></i>
                      <span class="nav-text">Activities</span>
                    </a>
                  </li>
        
                  <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="#">
                      <i class="fa fa-sliders nav-icon"></i>
                      <span class="nav-text">Settings</span>
                    </a>
                  </li>
                </ul>
              </nav>

              <div class="submain">
                <div class="subpt1">
                    <div class="spt1upper">
                        <div class="sup1">
                            <img class="profileimg" src="https://www.shutterstock.com/image-vector/woman-modern-icon-avatar-design-260nw-2358837033.jpg">
                            <h5>User Sixty Nine</h5>
                            <h6>@user69</h6>
                            <h6>⭐💻3rd Year Student at NIT Patna💻⭐🐍💬🐍 I speak fluent C++ , Python , JavaScript , and sarcasm. 🐍💬🐍 ........Ctrl + Alt + Delete all bugs. 💥🐞</h6>
                        </div>
                        <div class="sup2">
                            <div class="ppl">

                            </div>
                            <div class="pplx">
                                
                            </div>
                            <div class="ppl">
                                
                            </div>
                            <div class="pplx">
                                
                            </div>
                            <div class="ppl">
                                
                            </div>
                            <div class="pplx">
                                
                            </div>
                            <div class="ppl">
                                
                            </div>
                            <div class="pplx">
                                
                            </div>
                            <div class="ppl">
                                
                            </div>
                        </div>
                    </div>
                    <div class="spt1lower">


                            <div class="boast">
                                <% user.activities.forEach(element =>{ %>
                                    <div class="bimg">
                                        <img class = "bimz" src ="<%=element.image %>">
                                    </div>
                                    <div class = "capt">
                                        <h6><%= element.caption %> </h6>
                                    </div>
                                    <% }); %>
                                
                            </div>
                            </div>
                        
                    </div>
                </div>
                <div  class="subpt2">
                    <div class="yimg"></div>
                </div>


              </div>

            </main>
        </body>
    </html>